<mat-card class="header"><button mat-flat-button color="primary" (click)="backtologin()">back to login</button><button mat-flat-button color="primary" (click)="gotoregistration()" class="rgbutton">go to registration</button> <h1 style="    text-align: -webkit-center; background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);">Welcome to home</h1> </mat-card>
<div class="matTab">
  <table class="matTab">
    <tr class="head">
      <td>id  <mat-divider></mat-divider></td>
      <td>fName  <mat-divider></mat-divider></td>
      <td>lName <mat-divider></mat-divider></td>
      <td>userName  <mat-divider></mat-divider></td>
      <td>edit <mat-divider></mat-divider></td>
      <td>delete <mat-divider></mat-divider></td>
    </tr>
    <tr *ngFor="let i of dataSource | paginate: { itemsPerPage: 10, currentPage: p } ;let L=index;">
       
        <td>{{ (10* (p - 1)) +i._id}}  <mat-divider></mat-divider></td>
        <td>{{i.firstName}}  <mat-divider></mat-divider></td>
        <td>{{i.lastName}} <mat-divider></mat-divider></td>
        <td>{{i.username}} <mat-divider></mat-divider></td>
        <!-- <td><button (click)="openDialog(i._id)">edit</button></td> -->
      <td><button mat-flat-button color="primary" (click)="openDialog(i._id)">EDIT  <mat-divider></mat-divider></button></td>
   
      <td><button mat-flat-button color="warn" (click)="deletedata(i._id)">DELETE  <mat-divider></mat-divider></button></td>
      <!-- <button (click)="changData(i.username)">click me</button> -->
    </tr>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </table>
</div>

