/* You can add global styles to this file, and also import other style files */
body {
 
    margin: 0px !important;
}
.red-snackbar {
    background: #e53f3f;
  }
  .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}
// @import "app/core/scss/core";
@import "~@angular/material/prebuilt-themes/indigo-pink.css"


  