.header{
     align:center;
 }
 .matTab{
     width: 100%;
 }
 .head{
     top: 0px;
     position: sticky;
     z-index: 100;
     font-size: 28px;
     font-weight: bold;
 }
 .rgbutton{
     float:right;
 }
 .edit-user-form .mat-form-field{
      display: block !important;
 }